 nav ul li a{
    color:white;
    text-decoration:none;
 }
.menu-items{
   display: block;
   text-align: center;
   background-color: rgb(21, 17, 17);
}
.menu-items li{
  padding: 5px 0px;
  border-bottom: 3px solid white;
}
.icons{
   color: black;
}
.icons:hover{
   color: white;
}
.bgsecondary{
   background-color: rgb(25, 5, 104);
 }
 .about{
 max-width:150px;
   border-bottom: 3px solid white;
 }
 .project-image{
   height:200px;
   width: 200px;
 }
 .overlay{
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 105%;
   width: 100%;
   opacity: 0; 
   background: rgb(24, 10, 10);
 }
 .image1{
   position: relative;
 }
 .contact{
  max-width:210px;
  border-bottom: 3px solid white;
 }
 
 .image-hov:hover .overlay{
  
opacity: 1;

     }
     .button{
      color:white;
      text-decoration: none;
      background-color: rgb(92, 92, 233);
      padding: 15px 10px;

     }
    .button:hover{
      box-shadow: rgb(25, 5, 104);
      padding: 17px 17px;
      transition: .3s;
    }
    @media (max-width:568px) {
      .overlay{
        height: 100%;
        width: 110%;
        z-index: 1;
      }
    }